.categoriesWrapper {
  min-width: 100px;
  max-width: 200px;
  margin-right: 10px;
  border-right: 1px grey solid;
  padding-right: 5px;
}
.categorySection {
  display: flex;
  cursor: pointer;
  border: 1px;
}
.categorySectionActive {
  background-color: #7e7e7e;
  border: 1px solid #b5b5b5;
}
.listCategory {
  width: 100%;
  padding: 2px;
}
.activeCategory {
  color: white;
}

.icon {
  padding: 2px;
  vertical-align: middle;
  margin-right: 2px;
  margin-left: 2px;
  float: right;
}
.iconActive {
  color: white;
}
